.brand {
  --logo-font-size: 1.25rem;

  font-size: var(--logo-font-size);
  font-weight: 500;
  line-height: 1;
  position: relative;

  a {
    display: flex;
    padding: var(--menu-item-padding);
  }
}
