.footer {
  display: grid;
  grid-template-columns: 1fr minmax(280px, var(--rmb-page-max-width)) 1fr;
  padding: 1rem;

  @include respond-to(tablet) {
    padding: 1rem 2rem;
  }

  p {
    font-size: 0.75rem;
    grid-column: 2;
    margin: 0;
  }
}
