.banner {
  align-items: center;
  background: black;
  color: white;
  display: grid;
  min-height: 66vh;
}

.banner-image {
  height: calc(126px + 66vh);
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -62px;

  &:after {
    background-color: var(--rmc-color-primary);
    bottom: 0;
    content: "";
    display: block;
    filter: brightness(0);
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
  }

  > div {
    height: 100%;
  }
}

.banner-title {
  font-family: var(--rmc-font-sans-serif-bold);
  font-size: clamp(2rem, 6vw, 4rem);
  line-height: 1;
}

.banner-separator {
  background-color: var(--rmc-color-primary);
  display: block;
  height: 3px;
  margin: 2rem 0 1.9rem;
  width: 0px;
}

.banner-subtitle {
  font-family: var(--rmc-font-sans-serif);
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  line-height: 1.2;

  br {
    @include respond-to(mobile-l) {
      display: none;
    }
  }
}

.home-page-section {
  border-bottom: 1px solid hsl(0, 0%, 90%);
  font-size: clamp(1rem, 2.4vw, 1.25rem);

  > div {
    padding: 3.6rem 0 3.6rem;

    @include respond-to(desktop) {
      display: grid;
      grid-gap: 0 1rem;
      grid-template-columns: 1fr 57ch;
      padding: 2rem 0 6rem;

      > *:not(h3) {
        grid-column: 2;
      }
    }
  }

  h3 {
    font-family: var(--rmc-font-sans-serif-bold);
  }

  h3,
  h4 {
    font-size: inherit;
  }

  p {
    &:last-child {
      margin: 0;
    }
  }

  a {
    // FOR SERIF
    // background-image: linear-gradient(
    //   to bottom,
    //   transparent calc(100% - 4px),
    //   grey calc(100% - 4px),
    //   grey calc(100% - 3px),
    //   transparent calc(100% - 3px)
    // );

    background-image: linear-gradient(
      180deg,
      transparent calc(100% - 2px),
      grey calc(100% - 2px),
      grey calc(100% - 1px),
      transparent calc(100% - 1px)
    );
  }

  h3 {
    font-weight: 500;
    margin-bottom: 1rem;

    @include respond-to(tablet) {
      margin: 0;
      position: sticky;
      top: 1rem;
    }
  }

  li {
    align-items: center;
    display: flex;
    line-height: 1.6;

    &:before {
      color: #dadce0;
      content: "\2022";
      margin-right: 1rem;
      // margin-left: calc(-1rem - 7px);
    }
  }

  h4 {
    margin-bottom: 1rem;
  }

  ul + h4 {
    margin-top: 2rem;
  }

  img {
    height: auto;
    max-width: 100%;
  }
}

[data-animate] {
  opacity: 0;
  transition: opacity 0.35s ease-out, transform 0.35s ease-out;
  transform: translateY(10px);
  will-change: transform;
}

[data-animate-grow] {
  transition: width 0.125s ease-out, opacity 0.5s ease-out;
}
