.banner {
  background: black;
  color: white;
  min-height: 75vh;
  align-content: center;
}

.banner-title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
}

.banner-separator {
  background-color: var(--rmc-color-primary);
  display: block;
  height: 3px;
  margin: 2rem 0 1.9rem;
  width: 5rem;
}

.banner-subtitle {
  font-size: 1.6rem;
  line-height: 1.2;
}

.home-page-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2.5rem 0;

  > *:not(h3) {
    grid-column: 2;
  }

  h3,
  h4,
  h5,
  p,
  li,
  a {
    color: hsl(0, 0, 20%);
    font-size: clamp(1rem, 2.4vw, 1.25rem);
  }

  p {
    max-width: 55ch;
  }

  a {
    color: #1a73e8;

    &:hover {
      color: #195fbd;
    }
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    position: sticky;
    top: 1rem;
  }

  li {
    align-items: center;
    display: flex;

    &:before {
      color: #dadce0;
      content: "\2022";
      margin-right: 1rem;
    }
  }

  h4 {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  ul + h4 {
    margin-top: 2rem;
  }
}
