@font-face {
  font-family: "soehne";
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/klim/sohne/test-sohne/test-soehne-buch.woff2")
    format("woff2");
}

@font-face {
  font-family: "soehne bold";
  font-style: normal;
  font-weight: bold;
  src: url("./../fonts/klim/sohne/test-sohne/test-soehne-kraftig.woff2")
    format("woff2");
}

@font-face {
  font-family: "signifier";
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/klim/signifier/test-signifier-light.woff2")
    format("woff2");
}

@font-face {
  font-family: "soehne schmal";
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/klim/sohne/sohne-schmal/test-soehne-schmal-halbfett.woff2")
    format("woff2");
}
