html {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--rmc-font-serif), sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
}

p {
  margin-bottom: 1.4em;
}
